/* ==========================================================================
   Overrides
   ========================================================================== */

.nav-group-flex {
  .dropdown-toggle.btn.btn-primary {
    color: white;
  }
  .dropdown-toggle + .dropdown-menu li a {
      color: black;
  }
}

/* ==========================================================================
   New styles
   ========================================================================== */

.nav-group-flex {
  .btn {
      white-space: nowrap;
  }

  ul#main-menu {
      white-space: nowrap;
  }
}
