/* ==========================================================================
   Overrides
   ========================================================================== */

/* ==========================================================================
   New styles
   ========================================================================== */

.nav-group-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > * + * {
        margin-left: $content-gutter/2;
    }
}

.nav-group-flex a {
  font-size: 17px;
}
