/* ==========================================================================
   Animations
   ========================================================================== */

@keyframes sticky-navbar {
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
}

/* ==========================================================================
   Overrides
   ========================================================================== */
.navbar.navbar-sticky {
    transition: none;

    a {
        transition: none;
    }
}

.navbar-sticky.sticky {
    span, i {
        color: $black;
    }
}

.navbar-sticky.sticky {
    box-shadow: 0 2px 3px rgba(0,0,0,.08) !important;
}

.navbar-sticky .logotype svg {
    transition: none;
}

/* ==========================================================================
   Common styles
   ========================================================================== */
.navbar-sticky {
    z-index: $level-top;
    width: 100%;
     -webkit-backface-visibility: hidden;

     padding-left: 15px;
     padding-right: 15px;
}

.navbar-sticky a {
    font-size: 17px;
}
.navbar-sticky .nav-group-flex {
    display: flex;
    align-items: center;

    > * + * {
        margin-left: $grid-gutter-lg / 2;
    }
}

&.mobile-menu-open {
    .navbar-sticky .menu-trigger {
        span.menu-icon,
        span.menu-icon:before,
        span.menu-icon:after {
            background-color: $black;
        }

        &.open .menu-icon {
            background-color: white;
            z-index: -1,
        }
    }

    .navbar-sticky .logotype svg #text path {
        fill: $black;
    }
}

/* ==========================================================================
   Sticky - non-sticky state (top)
   ========================================================================== */
.navbar-sticky:not(.sticky) .logotype {
    svg {
        max-width: 220px;
    }
}

&:not(.home) .navbar-sticky:not(.sticky) {
    background: white;
}

&:not(.home) .navbar-sticky .menu-trigger {
    span.menu-icon,
    span.menu-icon:before,
    span.menu-icon:after {
        background-color: $black;
    }

    &.open .menu-icon {
        background-color: white;
        z-index: -1,
    }
}


&.home .navbar-sticky:not(.sticky) {
    position:absolute;
}

&.home .navbar-sticky:not(.sticky) .logotype svg #text {
    fill: white;
}

&.home .navbar-sticky:not(.sticky) + .nav-mobile-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: $level-top;
}

@media screen and #{$screen-md-up} {}
@media screen and #{$screen-lg-up} {
    .navbar-sticky:not(.sticky) .logotype
    svg {
        max-width: 260px;
    }

    .navbar-sticky:not(.sticky) {
        padding-top: 7.5px;
        padding-bottom: 7.5px;
    }
}

/* ==========================================================================
   Sticky - sticky state
   ========================================================================== */
.navbar-sticky.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background: white;

    animation-name: sticky-navbar;
    animation-duration: 200ms;

    a {
        color: $black;
    }
}

.navbar-sticky .brand {
    display: flex;
    align-items: center;
}
.navbar-sticky.sticky .logotype {
    padding: 0;
    svg {
        max-width: 200px;
    }

    svg #text path {
        fill: $black;
    }
}

.navbar-sticky.sticky + .nav-mobile-menu {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: $level-top;


    animation-duration: 200ms;
}

@media screen and #{$screen-lg-up} {
    .navbar-sticky.sticky .logotype svg {
        max-width: 250px;
    }
}

.navbar-sticky.sticky .menu-trigger {
    span.menu-icon,
    span.menu-icon:before,
    span.menu-icon:after {
        background-color: $black;
    }

    &.open .menu-icon {
        background-color: white;
        z-index: -1,
    }
}


&.mobile-menu-open .navbar-sticky {
    background-color: white;

    a {
        color: $black;
    }
}

/* ==========================================================================
   Others
   ========================================================================== */
/* Add border if no hero */
.site-header + .main-content {
    border-top: solid 1px #e8e8e8;
    &.open .menu-icon {
        background-color: white;
        z-index: -1,
    }
}

/* ==========================================================================
   Logged in styles
   ========================================================================== */
&.logged-in {
    .navbar-sticky:not(.sticky) + .nav-mobile-menu {
        top: 70px + $admin-bar-tablet;
    }

    .navbar-sticky.sticky {}

    @media screen and #{$admin-bar-screen-fixed} {

        .navbar-sticky:not(.sticky)  {}
        .navbar-sticky.sticky {
            top: $admin-bar-tablet;
        }

        .navbar-sticky.sticky + .nav-mobile-menu {
            top: 50px + $admin-bar-tablet;
        }

    }

    @media screen and #{$admin-bar-screen-desktop} {
        .navbar-sticky:not(.sticky) + .nav-mobile-menu {
            top: 70px;
        }
        .navbar-sticky.sticky {
            top: $admin-bar-desktop;
        }

        .navbar-sticky.sticky + .nav-mobile-menu {
            top: 50px + $admin-bar-desktop;
        }


    }
}

