/* ==========================================================================
   Animations
   ========================================================================== */

@keyframes sticky-navbar {
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
}

/* ==========================================================================
   Overrides
   ========================================================================== */
.navbar.navbar-sticky {
    transition: none;

    a {
        transition: none;
    }
}

.navbar-sticky.sticky {
    span, i {
        color: $black;
    }
}

.navbar-sticky.sticky {
    span, i {
        color: $black;
    }
}

.navbar-sticky.sticky {
    box-shadow: 0 2px 3px rgba(0,0,0,.08) !important;
}

/* ==========================================================================
   New styles
   ========================================================================== */
.navbar-sticky {
    .logotype {
        padding: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .logotype svg {
        transition: none;
        max-width: none;
        width: auto !important;
    }
}


/* Default state */
.navbar-sticky {
    -webkit-backface-visibility: hidden;
    z-index: $level-top;
}

&.page:not(.home) .navbar-sticky:not(.sticky) {
    background-color: white !important;
}
.navbar-sticky:not(.sticky) {
    padding: 15px 0;


    .logotype svg {
        height: 40px;
    }
}

/* Sticky state */
.navbar-sticky.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;

    animation-name: sticky-navbar;
    animation-duration: 200ms;


    .logotype svg {
        height: 35px;
    }
}

/* Logotype */
.navbar-sticky.sticky {
    a {
        color: $black;
    }

    #text path {
        fill: $black;
    }
}

/* Logged in - Sticky state */
&.logged-in .navbar-sticky.sticky {

    @media screen and #{$admin-bar-screen-fixed} {
        top: $admin-bar-tablet;
    }
    @media screen and #{$admin-bar-screen-desktop} {
        top: $admin-bar-desktop;
    }
}


/* Add border if no hero */
.site-header + .main-content {
    border-top: solid 1px #e8e8e8;
}
