&.content-background-grey {
    .main-content {
        background-color: #f9f9f9;
    }

    .main-footer {
        background: white;
    }

    .box {
        background-color: white;
        border: none;
    }
}
