/* ==========================================================================
   Overrides
   ========================================================================== */

/* ==========================================================================
   New styles
   ========================================================================== */

&.page:not(.home) .navbar-sticky:not(.sticky) a,
&.search:not(.home) .navbar-sticky:not(.sticky) a {
    color: $black;
}
