.box {
    padding: 0 0;
    border: 1px solid #ececec;
    margin-bottom: $content-gutter * 3;
}

.box .box__header, .box .box-content {
    padding: $box-spacing-vertical $box-spacing-horizontal $box-spacing-vertical $box-spacing-horizontal;
}

.box .box__header {
    padding-bottom: $box-spacing-vertical * 0.75;
}

.box .box-title {
    padding: $box-spacing-horizontal $box-spacing-vertical 0 $box-spacing-horizontal;
}
.box .box-title + .box-content, .box > img + .box-title {
    padding-top: 0;
}

.box > ul li {
    padding: $box-spacing-vertical/2 $box-spacing-horizontal $box-spacing-vertical/2 $box-spacing-horizontal;

    &:first-child {
        padding-top: $box-padding * 1;
    }
}

.box.box-panel.box-panel-secondary {
    background: transparent;
    .box-title {
        padding-bottom: $box-spacing-vertical * 0.75;
        border-bottom: 0;
        padding: 0 0 $content-gutter/2 0 ;
    }

    .box-content {
        background: white;
        padding:  $box-spacing-vertical $box-spacing-horizontal;
    }
}



.box.box-index {
    .box-index-title {
        left: 0;
    }
    .box-index-title:before {
        display: none;
    }
}
