// ***************************************************************
// *** Button font
// ***************************************************************

// Default button
$btn-font-size: .85rem;
$btn-font-weight: 700;
$btn-padding: .75em 1.5em;

// Small button
$btn-sm-font-size: $btn-font-size * 0.8;
$btn-sm-font-weight: $btn-font-weight;
$btn-sm-padding: $btn-padding;

// Medium button
$btn-md-font-size:  $btn-font-size;
$btn-md-font-weight: $btn-font-weight;
$btn-md-padding: $btn-padding;

// Large button
$btn-lg-font-size: $btn-font-size * 1.1;
$btn-lg-font-weight: $btn-font-weight;
$btn-lg-padding: 1em 1.75em;
