/* ==========================================================================
   Overrides
   ========================================================================== */
article {
    p {
        margin-top: 0;
    }
}

.mce-content-body > h1:first-of-type,
article > h1:first-of-type {
    margin-top: -0.25rem;
}
/* ==========================================================================
   New styles
   ========================================================================= */

article {
    * + *:not(li),
    * + p,
    * + p:first-of-type {
        margin-top: 1.2rem;
    }

    .btn + .btn {
        margin-top: 2.5px;
    }
}


