.section.fontsize-large article {
    .lead {
        font-size: ms(0);
        @media screen and #{$screen-md-up} {
            font-size: ms(1);
        }

        font-weight: 300;
    }


    p {
        font-size: ms(-1);

        @media screen and #{$screen-md-up} {
            font-size: ms(0);
        }
    }

    p span.weight-300 {
        font-weight: 400 !important;
    }

    * + *:not(.btn) {
        margin-top: 1.5rem;
    }

    #{$heading-elems} {
        line-height: 1.2;

        & + *,
        & + p,
        & + p:first-of-type {
            margin-top: 1.2rem;
        }
    }

    h1, .h1 {
        font-size: ms(3);

       @media screen and #{$screen-sm-up} {
            font-size: ms(4);
        }
        @media screen and #{$screen-md-up} {
            font-size: ms(6);
        }

        @media screen and #{$screen-lg-up} {
            font-size: ms(8);
        }
    }

    h2, .h2 {
        font-size: ms(2);

        @media screen and #{$screen-sm-up} {
            font-size: ms(5);
        }

        @media screen and #{$screen-lg-up} {
            font-size: ms(6);
        }
    }

    h3, .h3 {
        font-size: ms(2);

        @media screen and #{$screen-sm-up} {
            font-size: ms(4);
        }

        @media screen and #{$screen-lg-up} {
            font-size: ms(5);
        }
    }

    h4, .h4 {
        font-size: ms(1);

        @media screen and #{$screen-sm-up} {
            font-size: ms(3);
        }

        @media screen and #{$screen-lg-up} {
            font-size: ms(4);
        }
    }

    h5, .h5 {
        font-size: ms(0);

        @media screen and #{$screen-sm-up} {
            font-size: ms(2);
        }

        @media screen and #{$screen-lg-up} {
            font-size: ms(3);
        }
    }

    h6, .h6 {
        font-size: ms(0);


        @media screen and #{$screen-sm-up} {
            font-size: ms(1);
        }

        @media screen and #{$screen-lg-up} {
            font-size: ms(2);
        }
    }
}
